* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0e2c3b;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.4rem;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: 2px solid #29b6f6;
    border-radius: 5px;
    padding: 15px;
    background-color: #102f40;
}

#display {
    width: 240px;
    height: 50px;
    font-size: 1.3rem;
    text-align: right;
    margin-bottom: 10px;
    padding-right: 10px;
    border: 2px solid #29b6f6;
    background-color: #0e2c3b;
    color: white;
    border-radius: 4px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 55px);
    gap: 8px;
    justify-content: center;
}

button {
    font-size: 1.1rem;
    padding: 10px;
    border: 1px solid #29b6f6;
    background-color: #0e2c3b;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #1c4961;
}

.equal {
    grid-row: span 2;
    background-color: #29b6f6;
    color: black;
    font-weight: bold;
}

.zero {
    grid-column: span 2;
}